.heading_gallery{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-top: 40px;
}
.gallery_holder{
    margin: 20px 0px 50px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}
.gallery_holder_flex{
    display: flex;
    column-gap: 50px;
}
.cat_gallry{
    background-color:rgb(230, 230, 230);
    border-radius: 8px;
    height: 340px;
    width: 20vw;
    cursor: pointer;
}
.gallery_img_holder{
    width: 100%;
    height: 60%;
}
.gallery_img_holder img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width:990px) {
    .gallery_img_holder{
        height: 50%;
    }
    .cat_gallry{
        height: 250px;
        width: 20vw;
    }
    .cat_age{
        font-size: 5px;
    }
    .cat_click_no{
        font-size: 5px;
    }
    .info_name_cat{
        font-size: 5px;
    }
  }