.cat_data{
    display: flex;
    height: 34px;
}
.cat_name{
    width: 200px;
    overflow: hidden;
    padding: 0px 12px;
    padding-top: 3px;
}
.clicks_no{
    background-color: rgb(70, 70, 70);
    border-radius: 18px;
    color: white;
    padding: 0px 10px;
    font-size: 15px;
    margin: 4px 0px;
    margin-right: 8px;
}
.list-group-item{
    padding: 0;
}
.list-group-item:hover{
    cursor: pointer;
    color: white;
    background-color:rgb(16,108,252);
}


@media screen and (max-width:800px) {
    .cat_name{
        width: 140px;
    }
  }

@media screen and (max-width:970px) {
  .list-group-item{
    width: 100%;
  }
  .cat_data{
    column-gap: 30%;
  }
}