.App{
  padding: 18px;  
}
.main_heading{
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  padding-bottom: 15px;
}

.top_header{
  display: flex;
  justify-content: center;
  column-gap: 6vw;
}

@media screen and (max-width:690px) {
  .top_header{
    flex-direction: column;
  }
}